{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Posologie</th>
                <th>Qt_ingredients</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td><a href="{{ path('recette_show', { 'id': recette.id }) }}">{{ recette.id }}</a></td>
                <td>{{ recette.nom }}</td>
                <td>{% if recette.date %}{{ recette.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.etat }}</td>
                <td>{{ recette.posologie }}</td>
                <td>{{ recette.qtingredients }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
